{% extends "base_generic.html" %}

{% block page %}
<h1>Local Library</h1>
{% endblock %}

{% block content %}

<p>The library has the following record counts:</p>
<ul>
    <li><a href="{% url 'catalog:books' %}">Books:</a> {{ num_books }}</li>
    <li><strong>Copies:</strong> {{ num_instances }}</li>
    <li><strong>Copies available:</strong> {{ num_instances_available }}</li>
    <li><a href="{% url 'catalog:authors' %}">Authors:</a> {{ num_authors }}</li>
    <li><strong>Genres:</strong> {{ num_genres }}</li>
</ul>

{% endblock %}
